@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin="">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    .registerArea {
        width: 100%;
        padding: 0 24px;
        margin-top: 28px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #map {
        height: 600px;
        width: 85%;
        margin: auto;
        margin-bottom: 50px;
        border-radius: 25px;
        margin-top: 65px;
    }
</style>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <div class="main">
            <h1 class="title">Novo Radar</h1>
            <form action="/radar/criar" method="post">
                <div class="registerInfo">
                    <div class="form-group registerInfo">
                        <label>Apelido do radar</label>
                        <input type="text" class="form-control" id="txtApelido" name="txtApelido" placeholder="Insira um apelido para o radar">
                    </div>
                    <div class="form-group">
                        <label>CEP da localização do radar</label>
                        <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Insira apenas números">
                    </div>
                    <div class="form-group">
                        <label>Logradouro</label>
                        <input type="text" class="form-control" id="txtLogradouro" name="txtLogradouro" readonly>
                    </div>
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" id="txtCidade" name="txtCidade" readonly>
                    </div>
                    <div class="form-group">
                        <label>Bairro</label>
                        <input type="text" class="form-control" id="txtBairro" name="txtBairro" readonly>
                    </div>
                    <div class="form-group">
                        <label>UF</label>
                        <input type="text" class="form-control" id="txtUf" name="txtUf" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tipo da estrada</label>
                        <input type="text" class="form-control" id="txtTipoEst" name="txtTipoEst">
                    </div>
                    <input type="hidden" id="txtLongitude" name="txtLongitude" />
                    <input type="hidden" id="txtLatitude" name="txtLatitude" />
                    <button type="submit" id="btnCadastroReal" name="btnCadastroReal" style="display:none;"></button>
                    <a onclick="handleValidateInfoNewRadar()" id="btnCadastroFake" name="btnCadastroFake" class="btn btn-primary">Cadastrar radar</a>
                </div>
            </form>
        </div>
    </div>
    <div id="mapDiv" name="mapDiv" style="margin-left: 600px;">
        <div id="map"></div>
    </div>
</div>

<script>
    function handleValidateInfoNewRadar() {
        var longitude = document.getElementById('txtLongitude').value;
        var latitude = document.getElementById('txtLatitude').value;
        var btnReal = document.getElementById('btnCadastroReal');
        var nomeRadar = document.getElementById('txtApelido').value;
        var cep = document.getElementById('txtCep').value;

        if (cep.length < 2) {
            alert("Por favor, insira um CEP válido.");
        }
        else if (longitude.length < 5 && latitude.length < 5) {
            alert("Desculpe, nossa base de dados não conhece esse CEP. Por favor, insira outro e tente cadastrar novamente.");
            document.getElementById('txtCep') = "";
            document.getElementById('txtLogradouro') = "";
            document.getElementById('txtCidade') = "";
            document.getElementById('txtBairro') = "";
            document.getElementById('txtUf') = "";
        }
        else if (nomeRadar == "") {
            alert("Por gentileza, insira um nome para o radar.");
        }
        else {
            btnReal.click();
        }
    }
    /* Coletando CEP */
    jQuery(function ($) {
        $("input[name='txtCep']").change(function () {
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://viacep.com.br/ws/" + cep_code + "/json/", { code: cep_code }, function (resultado) {
                if (resultado.erro == 1) {
                    alert("Endereço não encontrado! Por gentileza, coloque outro CEP.");
                }
                else {
                    $("input[name='txtLogradouro']").val(resultado.logradouro);
                    $("input[name='txtCidade']").val(resultado.localidade);
                    $("input[name='txtBairro']").val(resultado.bairro);
                    $("input[name='txtUf']").val(resultado.uf);

                    /* Coletando latitude e longitude */
                    jQuery(function ($) {
                        var linkRequisicao = "https://nominatim.openstreetmap.org/search.php?street=" + resultado.logradouro + "&city=" + resultado.localidade + "&state=" + resultado.uf + "&format=jsonv2";

                        $.get(linkRequisicao, function (resultado) {
                            if (resultado.length >= 1) {
                                validaSeAchou = true;
                                if (resultado.length == 0) {
                                }
                                else {
                                    document.getElementById('txtLatitude').value = resultado[0].lat;
                                    document.getElementById('txtLongitude').value = resultado[0].lon;
                                    console.log(document.getElementById('txtLongitude').value);
                                    console.log(document.getElementById('txtLatitude').value);
                                }
                            }
                        });
                    });
                }
            });
        });
    });

    /* Início da inicialização do mapa */
    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        {
            attribution: false
        });
    var map = L.map('map',
        {
            zoomControl: true,
            layers: [tileLayer],
            maxZoom: 18,
            minZoom: 1
        })
        .setView(['51.505', '-0.09'], 13);
    /* Fim da inicialização do mapa */

    function onMapClick(e) {
        alert("You clicked the map at " + e.latlng);
    }
    var popup = L.popup();
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
    }
    map.on('click', onMapClick);

    /* Coletando o tipo de device que acessou o site */
    const deviceType = () => {
        const ua = navigator.userAgent;
        if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
            return "tablet";
        }
        else if (/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
            return "mobile";
        }
        return "desktop";
    };

    $(document).ready(function () {
        if (deviceType() == "desktop") {
        }
        else if (deviceType() == "mobile") {
            document.getElementById('mapDiv').style.marginLeft = '0';
        }
    });
</script>