@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/myLayout.cshtml";
    List<Business.Radar> radars = new Business.Radar().ListAll();
    List<Business.RadarLocation> radarsLocations = new Business.RadarLocation().ListAll();

    IDictionary<int, string> radarsData = new Dictionary<int, string>();

    string[] localidadesRadar = new string[4];
    int iterador = 0;
    string localizacaoRadar = "";
    foreach (var radar in radars)
    {
        foreach (var radarLocation in radarsLocations)
        {
            if(radarLocation.idRadar == radar.idRadar)
            {
                radarsData.Add(radar.idRadar, radarLocation.enderecoCompleto);
                iterador++;
            }
        }
    }
}

<div class="main">
    <h1 class="title">Radares cadastrados</h1>
    <h3>Acesse já um dos radares abaixo e colabore com a inteligência dele!</h3>
</div>

<table class="table table-striped occDataTable" id="occTable" name="occTable">
    <tr class="headerOccTable">
        <td>Nome</td>
        <td>Criado em</td>
        <td>Localização</td>
        <td>Perfil</td>
    </tr>
    @{ 
        foreach (var radar in radars)
        {
            <tr>
                <td>@radar.apelido</td>
                @{ 
                    System.Globalization.CultureInfo cultureinfo = new System.Globalization.CultureInfo("pt-BR");
                    cultureinfo = System.Threading.Thread.CurrentThread.CurrentCulture;
                    string dtCriacaoFinal = radar.dataCriacao.ToString("dd/M/yyyy", cultureinfo);
                    string hrCriacaoFinal = radar.dataCriacao.ToString("HH:mm", cultureinfo);
                }
                <td>@dtCriacaoFinal às @hrCriacaoFinal</td>
                <td>@radarsData[radar.idRadar]</td>
                <td><a class="btn btn-primary btn-sm" style="padding: 1.5px 1.5px;" href="/radar/perfil/@radar.idRadar">Acessar</a></td>
            </tr>
        }
    }
</table>